* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#cont{
    width:70rem;
}
#enter {
    margin-top: 10px;
}

#card {
    position: relative;
    top: 100px;
    left: -40px;
}

#show{
    padding:2rem;
    font-size: 4rem;
}
#to {
    font-weight: 900;
}

@media screen and (max-width:480px) {
    #cont{
        width: 30rem;
    }
    #card {
        position: relative;
        left: 0px;
    }
    #grid_plus {
        display: inline-grid;
        grid-template-columns: 1px 300px 130px;
    }
    #row {
        width: max-content;
        display: inline-grid;
        grid-template-columns: 100px 140px 150px;
        /*padding: 10px;*/
    }
}